<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="unsw_9900.nobugs.mapper.StockHoldMapper">
  <resultMap id="BaseResultMap" type="unsw_9900.nobugs.po.StockHold">
    <!--@mbg.generated-->
    <!--@Table stock_hold-->
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <id column="sid" jdbcType="INTEGER" property="sid" />
    <result column="lot" jdbcType="FLOAT" property="lot" />
    <result column="price" jdbcType="FLOAT" property="price" />
    <result column="trade_date" jdbcType="DATE" property="tradeDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    pid, sid, lot, price, trade_date
  </sql>
  <insert id="insert" parameterType="unsw_9900.nobugs.po.StockHold">
    <!--@mbg.generated-->
    insert into stock_hold (pid, sid, lot, 
      price, trade_date)
    values (#{pid,jdbcType=INTEGER}, #{sid,jdbcType=INTEGER}, #{lot,jdbcType=FLOAT}, 
      #{price,jdbcType=FLOAT}, #{tradeDate,jdbcType=DATE})
  </insert>
  <select id="findOneStock" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from stock_hold
    where "pid" = #{pid,jdbcType=INTEGER} and "sid" =#{sid,jdbcType=VARCHAR}
  </select>
  <select id="findAllStock" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from stock_hold
    where "pid" = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="delete">
    delete from stock_hold
    where "pid" = #{pid,jdbcType=INTEGER} and "sid" =#{sid,jdbcType=VARCHAR}
  </delete>
</mapper>