<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="unsw_9900.nobugs.mapper.TestTableMapper">
  <resultMap id="BaseResultMap" type="unsw_9900.nobugs.po.TestTable">
    <!--@mbg.generated-->
    <!--@Table test_table-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, "name"
  </sql>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="unsw_9900.nobugs.po.TestTable" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into test_table ("name")
    values (#{name,jdbcType=VARCHAR})
  </insert>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from test_table
    </select>
</mapper>