<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="unsw_9900.nobugs.mapper.UserInfoMapper">
  <resultMap id="BaseResultMap" type="unsw_9900.nobugs.po.UserInfo">
    <!--@mbg.generated-->
    <!--@Table user_info-->
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <result column="first_name" jdbcType="VARCHAR" property="firstName" />
    <result column="last_name" jdbcType="VARCHAR" property="lastName" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="pwd_md5" jdbcType="VARCHAR" property="pwdMd5" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    "uid", first_name, last_name, user_name, email, pwd_md5
  </sql>
  <insert id="insert" keyColumn="uid" keyProperty="uid" parameterType="unsw_9900.nobugs.po.UserInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_info (first_name, last_name, user_name, 
      email, pwd_md5)
    values (#{firstName,jdbcType=VARCHAR}, #{lastName,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{pwdMd5,jdbcType=VARCHAR})
  </insert>
  <select id="findEmail" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_info
    where email =#{email,jdbcType=VARCHAR}
  </select>
  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_info
  </select>
  <select id="getUserByUsernameAndPassword" parameterType= "string" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from user_info
    where email =#{email,jdbcType=VARCHAR} and pwd_md5 = #{pwdMd5,jdbcType=VARCHAR}
  </select>
</mapper>